extends ../layouts/layout

block content
  h1 Listing topics

  table
    thead
      tr
        each n in ['title','body','owner']
          th #{n}
        th(colspan="3")
    tbody
      each topic in topics
        tr
          each n in ['topic.title','topic.body','topic.owner']
            td #{ eval(n) }
          td 
            a(href='/topics/#{ topic._id}') Show
          td 
            a(href='/topics/#{ topic._id}/edit') Edit
          td 
            a(onclick="click_del('/topics/#{ topic._id}/')") Delete

  br

  p 
    a(href='/topics/new') New Topic
